/* stili globali della pagina */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
}

header, footer{
  height: 100px;
  background-color: deepskyblue;
}

main{
  height: calc(100vh - 200px);
  background-color: palevioletred;
}